@model Product

@{
    ViewData["Title"] = " - " + Model.Name;
}

<div class="text-center product-details-container">
    <h1 class="display-4">@Model.Name</h1>

    <div class="product-details">
        <img src=@Model.ImagePath class="product-details__img" alt="@Model.Name">
        <div class="product-details__info">
            <p class="product-details__info-description">@Model.Description</p>
            <div class="product-details__info-btns">
                <p class="product-details__info-price">@(Model.Cost == 0 ? "Coming soon" : $"{Model.Cost} $")</p>
                <a href="/catalog" class="btn btn-primary product-details__info-btn-back">To catalog</a>
                @if(Model.Cost == 0)
                {
                    <a href="#" class="btn btn-primary product-details__info-btn-unavailable">Soon</a>
                }
                else
                {
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id" class="btn btn-primary product-details__info-btn-cart">BUY</a>
                }
            </div>
        </div>
    </div>
</div>